<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>Online Tuner</title>
</head>
<body>
  <div id='counter'></div>
  <div id="myDiv"></div>
  <input type="button" onclick="Begin()" value="Start">
  <input type="button" onclick="Stop()"" value="Stop">
  <input type="button" onclick="ChangeState()" value="Change State">




<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="javascripts/d3-peaks.js" charset="utf-8"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="javascripts/tuner.js"></script>
<script src="javascripts/app.js"></script>
</body>
</html>
